<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite" parallel="tests" thread-count="2">

    <!-- All UI tests -->
    <test name="UI Tests">
        <packages>
            <package name="framework.tests.ui.*"/>
        </packages>
    </test>

    <!-- All API tests -->
    <test name="API Tests">
        <packages>
            <package name="framework.tests.api.*"/>
        </packages>
    </test>

</suite>
